/* Container for the dice images */
body {
    background-color: black;
}
#visualRollerCont{
    display: inline;
}
#resultOutput {
    
}
/* image tiles */
.tile {
height: 90px;
width: 90px;
}
h1{
    color:white
}